.classificacio-main {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.leaderboard {
    width: 90%;
    max-width: 900px;
    margin-bottom: 60px;
}
