* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #3a0ca3, #000);
    color: white;
   

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

   .main-menu {
        background: #212121;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        transition: 0.3s;
        z-index: 999;
    }
    
    
.main-menu {
    background: #212121;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: 0.3s;
    z-index: 999;
}

.main-menu.activo {
    left: 0;
}
