.final {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 155px;
    padding: 35px;
    height: auto;
    width: 100vw;
    margin-top: 0px;
    padding-left: 100px;
    padding-top: 50px;
}

.problema {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.problema>p {
    font-family: 'VERDANA';
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.titFoot {
    color: white;
    font-family: Georgia;
    font-weight: bold;
}

.fparte4 p:nth-child(2) {
    color: #b8b8c5;
    font-family: sans-serif;
    font-size: 15px;
}

.CopyRight {
    color: #b8b8c5;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07070f;
    width: 100vw;
    height: 50px;
}

.flexFoot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.flexFoot li a {
    text-decoration: none;
    cursor: pointer;
    color: #b8b8c5;
}

footer {
    border-top: 2px solid #7b5ce8;
    margin-top: 80px;
}

.CopyRight {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -10px;
}